.container {
    width: 90%;
    margin: auto;
}

table {
    width: 90%;
    margin: 15px;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.edit {
    color: rgb(170, 22, 121);
}

.delete {
    color: rgb(235, 26, 26);
}

mat-radio-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}